table {
    border-spacing: 0;
    width: 100%;
}

th {
    background-color: black;
    font-weight: bold;
    color: lightgrey;
    text-align: left;
    padding: 5px;
}

td {
    border-top: 1px solid darkgrey;
    padding: 5px;
}

tbody tr:hover {
    background-color: lightgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
}
li:last-child {
    border: none;
}
