extends ../../templates/base
include ./list-item

block content
    h1 current open orders (<a href="/parcel/form">new</a>)
    table
        thead
            tr
                th
                    a(href="/parcel/id") Id
                th Order
                th
                    a(href="/parcel/destination") Destination

                th Arrived in Haiger
                th Sent from Haiger
                th Comment
                th
                    a(href="/parcel/arrivedAtDestination") Arrived
                th
        tbody
            -for(let parcel of parcelsOpen)
                +listItem(parcel)
    h1 archieve
    table
        thead
            tr
                th Id
                th Order
                th Destination
                th Arrived in Haiger
                th Sent from Haiger
                th Comment
                th Arrived
                th
        tbody
            -for(let parcel of parcelsArchive)
                +listItem(parcel)


